/*  your css code here. If applicable */
body{
	background-color:rgb(204, 204, 204);
}
.cen{
	text-align:center;
}
.playlist{
	width:80vw;
	background-color:white;
	margin:auto;
	border-radius:10px;
	border:1px solid black;
	padding:10px;
	
	
}

ul>li{
	list-style-type:none;
	text-align:left;
}


a{
	text-decoration-line:none;
	color:black;
}

.player{
	background-color:rgb(255,255,255);
	margin:10px 20px;
	padding:30px;
	border:1px solid black;
}

.player_one{
	width:500px;
	/* border:1px solid red; */
	/* margin:auto; */
	
}

.player_two{
	width:500px;
	/* border:1px solid red; */
	/* margin:auto; */
	
}
.az{
	text-align:center;
}